@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* ================= RESET ================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #010814;
    --second-bg-color: #010814;
    --text-color: #ffffff;
    --main-color: rgb(209, 154, 199);
    --box-color: rgb(14, 0, 74);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/* ================= HEADER ================= */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: transparent;
}

.header.sticky {
    background: var(--bg-color);
    border-bottom: .1rem solid rgba(0,0,0,.2);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

/* ================= HOME ================= */
.home {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 7rem 10% 0;

    background-image:
        linear-gradient(rgba(1,8,20,0.75), rgba(1,8,20,0.75)),
        url("Background_pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;
    
}

span {
    color: var(--main-color);
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin-right: 1.5rem;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

/* ================= ABOUT ================= */
.about {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background: var(--second-bg-color);
}

.heading {
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 2rem;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin-top: 2rem;
}

/* ================= SERVICES (2rem spacing) ================= */
.services {
    text-align: center;
}

.services-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
}

.services-box {
    background: var(--second-bg-color);
    padding: 2rem;
    border-radius: 2rem;
    border: .2rem solid var(--bg-color);
    max-width: 32rem;
    transition: .5s ease;
    box-shadow: 0 0 3rem var(--box-color);
}

.services-box:hover {
    border-color: var(--main-color);
    transform: translateY(-5px);
}

.services-box i {
    font-size: 5.5rem;
    color: var(--main-color);
    margin-bottom: 1.5rem;
}

.services-box h3 {
    font-size: 2.3rem;
    margin-bottom: 1rem;
}

.services-box p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

/* ================= PROJECTS ================= */
.projects {
    background: var(--second-bg-color);
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
    justify-content: center;
    align-items: center;

}

.projects-box {
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 0 1rem var(--bg-color);
}

.projects-box img {
    width: 100%;
    transition: .5s ease;
}

.projects-box:hover img {
    transform: scale(1.1);
}

.projects-layer {
    position: relative;
    inset: 0;
    background: linear-gradient(rgba(0,0,0,0.2), var(--main-color));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: .5s ease;
}

.projects-box:hover .projects-layer {
    transform: translateY(0);
}

.projects-layer h4 {
    font-size: 3rem;
}

.projects-layer p {
    font-size: 1.6rem;
    margin: .5rem 0 1rem;
}

/* ================= CONTACT ================= */
.contact form {
    max-width: 70rem;
    margin: auto;
    text-align: center;
}

.contact form input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    margin: .7rem 0;
    font-size: 1.6rem;
    border-radius: .8rem;
    background: var(--second-bg-color);
    color: var(--text-color);
}

.contact form textarea {
    resize: none;
}



/* ================= FOOTER ================= */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text {
    font-size: 1.6rem;
}

.footer-iconTop a {
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
}

/* ================= RESPONSIVE ================= */
@media (max-width: 768px) {
    #menu-icon { display: block; }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--bg-color);
        display: none;
        padding: 2rem;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        margin: 2rem 0;
        font-size: 2rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 500px) {
    html { font-size: 55%; }
    .portfolio-container { grid-template-columns: 1fr; }
}
